body {
    background-color: #892be275;
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: black;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}
.one {
    background: #fbb1bd;
    border: 5px solid plum;
    padding: 20px;
    margin: 10px;
}
.two {
    background: #fbb1bd;
    border: 5px solid plum;
    padding: 20px;
    margin: 10px;
}
.three {
    background: #fbb1bd;
    border: 5px solid plum;
    padding: 20px;
    margin: 10px;
}