body {
    background-color: #892be275;
    text-align: center;
}
.title {
    color: hsl(0, 0%, 100%);
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.one {
    background: #fbb1bd;
    border: 5px solid plum;
    padding: 20px;
    margin: 10px;
}
.two {
    background: #fbb1bd;
    border: 5px solid plum;
    padding: 20px;
    margin: 10px;
}
.three {
    background: #fbb1bd;
    border: 5px solid plum;
    padding: 20px;
    margin: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}